.container, .row {
  padding: 50px 30px 30px; }

.item {
  display: block;
  width: 100%;
  height: 200px; }

.item img {
  height: 60%;
  width: 100%; }

/*.header {
  position: fixed;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  &Menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;

    li a {
      display: inline-block;
      margin-top: 12px;
      color: white;

    }
  }



  &Logo {
    display: flex;
    align-items: center;

    img {
      width: 30px;
      margin-top: 25px;
      /* margin-left: 2px; 

      /*filter: invert(100);  CAMBIA MI LOGO A COLOR LILA

    }


  }



}

.headerMenu li a:hover {
  background: rgb(181, 218, 196);
  color: rgb(20, 29, 20)
}*/
/* header {
   width: 100%;
   padding: 0 40px 20px 40px;
   color: white;
   text-align: center;
   background: rgb(73, 76, 74);

 }

 .headerLogo {

   display: flex;
   align-items: center;
   margin-top: 10px;

   img {

     width: 65px;
     margin-top: 30px;
     margin-left: 10px;
   }
 }



 nav ul {
   list-style: none;
   background: rgb(140, 142, 140);
   text-align: center;
 }

 nav ul li {
   display: inline-block;
   padding: 20px;
   transition: all ease-in-out 250ms;
 }

 ul li a {
   color: white;
   text-decoration: none;
 }

 nav ul li:hover {
   background: grey;
 }

 .hide {
   font-size: 22px;
   padding: 16px;
   background-color: grey;
   color: white;
   cursor: pointer;
   display: none;

 }

 @media (max-width: 768px) {
   ul li {
     width: 100%;
     padding: 16px;
     text-align: left;
   }

   nav ul {
     display: none;
   }

   .hide {
     display: block;
   }
 }*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: cursive; }

header {
  width: 100%;
  padding: 40px;
  color: white;
  text-align: center;
  background: grey; }

nav ul {
  list-style: none;
  background: #aca7a7; }

nav ul li {
  display: inline-block;
  padding: 20px;
  transition: all ease-in-out 250ms;
  text-align: center; }

ul li a {
  color: white;
  text-decoration: none; }

nav ul li:hover {
  background: #a5a2a2; }

.headerLogo {
  display: flex;
  align-items: center;
  margin-top: 10px; }
  .headerLogo img {
    width: 65px;
    margin-top: 30px;
    margin-left: 10px; }

@media (max-width: 768px) {
  header {
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    background: grey;
    box-sizing: border-box;
    font-size: 2px; }
  nav ul {
    list-style: none;
    background: #aca7a7; }
  nav ul li {
    display: inline-block;
    padding: 2px;
    transition: all ease-in-out 250ms;
    text-align: center;
    font-size: 7px; }
  ul li a {
    color: white;
    text-decoration: none; }
  nav ul li:hover {
    background: #a5a2a2; }
  .headerLogo {
    display: flex;
    align-items: center;
    margin-top: 10px; }
    .headerLogo img {
      width: 30px;
      margin-top: 30px;
      margin-left: 10px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  /* forma de la letra */
  background-color: #7ea174;
  /* color de todo el fondo */
  color: aliceblue;
  /* color de las letras */
  background-image: url(../imagenes/footer.jpg); }

h2,
h3,
h4 {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*justify-content: center;
    align-items: center;
    margin: 0px;*/
  font-size: 1.5rem;
  color: #2a312b;
  margin-left: 150px;
  margin-top: 5px;
  padding: 45px 30px; }

h5 {
  color: #0f0e0e;
  font-family: monospace;
  font-size: 1.6rem; }

/* a de ANCLA, Las secciones de inicio y otras opciones*/
a {
  color: #4a524a;
  /* text-decoration: none;*/
  /* SIN PUNTITOS AL LADO*/
  margin-right: 25px; }

.animate {
  padding: 60px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #424642;
  font-family: fantasy;
  font-size: 1.5rem; }

.underTitulo {
  padding: 50px  20px 10px 20px;
  color: #2b3327;
  font-size: 1.5rem;
  font-family: monospace;
  margin-left: 67px; }

p {
  font-size: 15px;
  color: #ceebcc; }

/* Incluyendo Mixin*/
a {
  text-decoration: none; }

.secciones {
  display: flex;
  align-items: center;
  padding: 30px 50px;
  margin: 0px; }

.gridContainer {
  display: grid;
  grid-template-columns: 200px 200px 200px; }

.gridItem {
  background-color: bisque;
  border: solid 2px black;
  color: #701515; }

.gridContainerV {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  background-color: #91b497;
  color: #4e584c;
  font-weight: lighter; }

.card-text {
  color: black;
  font-size: 10px; }

.card-title {
  color: #244b24; }

/*.gridContainerV {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5px;
    padding: 30px;


}*/
.noEsperes {
  padding: 20px 5px 5px;
  font-family: "Roboto Slab, serif";
  /* padding: 70px 30px 30px 50px;
    margin: 0;*/
  font-size: 18px;
  color: #66bcd6; }

/* UTILIZANDO GRID*/
.gridContainer {
  display: grid;
  grid-template-columns: 200px 200px 200px; }

.gridItem {
  background-color: #a9daee;
  border: solid 2px black;
  color: black; }

/* Letra al lado del logo*/
.musiLandia {
  position: absolute;
  top: 25px;
  left: 36px;
  right: 3px;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  color: #868181;
  font-weight: normal; }

/* Letra al lado de mi logo */
/* HERO se le suele llamar a la parte principal de la pagina*/
.carrousel {
  width: 100%;
  /* background-image: url(../imagenes/imgnuevaa.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.card {
  background: #bac0a3;
  border: 1px solid black; }

.card-body p {
  color: #374638;
  font-size: 10px; }

.form-register {
  width: 700px;
  background: #596f5f;
  padding: 30px;
  margin: auto;
  margin-top: 70px;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white; }

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px; }

.controls {
  width: 100%;
  background: #d0f0d0;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px; }

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px; }

.form-register a {
  color: white;
  text-decoration: none; }

.form-register a:hover {
  color: white;
  text-decoration: underline; }

.form-register .botons {
  width: 100%;
  background: #525a54;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px; }

@media (max-width: 768px) {
  .form-register {
    width: 380px;
    background: #596f5f;
    padding: 2px;
    margin-top: 30px;
    margin-bottom: 8px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; }
  .form-register h4 {
    font-size: 4px;
    margin-bottom: 10px; }
  .controls {
    width: 100%;
    background: #d0f0d0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px; }
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px; }
  .form-register a {
    color: white;
    text-decoration: none; }
  .form-register a:hover {
    color: white;
    text-decoration: underline; }
  .form-register .botons {
    width: 100%;
    background: #525a54;
    border: none;
    padding: 7px;
    color: white;
    margin: 10px 0;
    font-size: 13px; }
  .container, .row {
    padding: 50px 30px 30px; } }

.biografia {
  justify-content: space-between;
  /* font-size: 1.25rem;*/
  line-height: 1.8;
  display: flex;
  align-items: center;
  color: bisque;
  padding: 0px 50px;
  margin: 0px; }

.biografia p {
  padding: 0px 30px;
  font-size: 1rem;
  color: #16250d; }

.biografiaAside {
  display: flex;
  margin-left: 20px;
  padding-bottom: 35px; }

.biografiaAside p {
  padding: 50px 35px;
  font-size: 1rem;
  color: #16250d;
  text-align: justify; }

.biografiaImag {
  width: 100%;
  background-image: url(../imagenes/desg1.jpg);
  background-position: center;
  background-repeat: repeat-y; }

/* Aplicando EXTEND*/
.biografia {
  font-size: 1.25rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.musiLandiacont {
  position: absolute;
  top: 10px;
  left: 30px;
  right: 3px;
  font-family: cursive;
  font-size: 1rem;
  color: #444343;
  font-weight: lighter; }

footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(../imagenes/footer.jpg); }

.containerFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px; }

.boxFooter {
  display: flex;
  flex-direction: column;
  padding: 40px; }

.boxFooter .logo img {
  width: 150px; }

.boxFooter .terminos {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: black;
  font-size: 18px; }
  .boxFooter .terminos p {
    color: black; }

.boxFooter h6 {
  margin-bottom: 30px;
  color: #253429;
  font-weight: 700;
  font-size: 1rem;
  font-family: cursive; }

.boxFooter a {
  margin-top: 10px;
  color: #1f2524; }

.boxFooter a:hover {
  opacity: 0.8; }

.boxFooter a.fab {
  font-size: 20px; }

.boxCopyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px; }

.boxCopyright p {
  margin-top: 20px;
  color: #222121; }

.boxCopyright hr {
  border: none;
  height: 1px;
  background-color: #2a2929; }

@media (max-width: 768px) {
  .containerFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px; }
  .boxFooter {
    display: flex;
    flex-direction: column;
    padding: 10px; } }

/* Poema debajos de las tres img de Bootstrap */
.footer {
  background-color: #101f12;
  padding: 50px 0px; }
  .footerRow {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .footerMenu, .footerSocial {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footerMenu ul {
    list-style: none; }
    .footerMenu ul li {
      margin-top: 5px; }
  .footerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; }
    .footerForm input {
      width: 100%;
      height: 30px;
      margin-bottom: 2px;
      border: 0px solid;
      border-radius: 10px;
      padding-left: 10px; }
  .footerForm input[type="submit"] {
    background-color: red;
    color: white;
    width: 30%;
    border: 1px solid #5a2f2f;
    padding: 0; }
  .footerForm input[type="reset"] {
    background-color: red;
    color: white;
    width: 30%;
    border: 1px solid #5a2f2f;
    padding: 0; }
  .footerSocial a {
    margin-left: 1px; }
  .footerSocial img {
    height: 50px; }

.footerContacto {
  display: flex;
  justify-content: space-around;
  color: blanchedalmond;
  font-family: sans-serif;
  font-size: 15px;
  margin-left: 100px;
  padding-top: 30px;
  padding-bottom: 20px; }

.contactFoot {
  display: flex;
  justify-content: center;
  color: #a5b6a0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin-left: 600px;
  padding: 0px 30px 50px 30px;
  background-color: #202020;
  background-size: 10px;
  height: 0px;
  width: 200px;
  margin-top: 65px; }

.underContac {
  display: flex;
  padding: 20px 20px 10px 20px;
  color: #b7e99c;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 50px; }

.mapSide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
  margin-bottom: 30px; }

.footerMenu li a:hover {
  background: #b5dac4;
  color: #141d14; }

/* HEADER MENU*/
@media screen and (max-width: 640px) {
  h2,
  h3,
  h4,
  h6 {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*justify-content: center;
        align-items: center;
        margin: 0px;*/
    font-size: 1rem;
    color: #2a312b;
    margin-left: 100px;
    margin-top: 5px;
    padding: 45px 30px; } }

@media screen and (max-width: 640px) {
  .carrousel {
    width: 100%;
    /* background-image: url(../imagenes/imgnuevaa.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; } }

/* BIOGRAFIA*/
@media screen and (max-width: 640px) {
  .musiLandia {
    position: absolute;
    top: 23px;
    left: 25px;
    right: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 7px;
    color: #c2f3c9; }
  .biografia {
    justify-content: space-between;
    /* font-size: 1.25rem;*/
    line-height: 1.8;
    display: flex;
    align-items: center;
    color: bisque;
    padding: 0px 20px;
    margin: 0px; }
  .biografia p {
    padding: 0px 10px;
    font-size: 20px;
    color: #16250d;
    text-align: start; }
  .biografiaAside {
    display: flex;
    margin-left: 20px;
    padding-bottom: 35px; }
  .biografiaAside img {
    width: 50%;
    height: 50%; }
  .biografiaAside p {
    padding: 0px 20px;
    font-size: 9px;
    color: #16250d;
    text-align: center; }
  .animate {
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4d584e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center; }
  .underTitulo {
    padding: 0px 30px 10px 30px;
    color: #2b3327;
    font-size: 1.2rem;
    font-family: cursive;
    margin-right: 55px; }
  .container, .row {
    padding: 0px 3px; }
  /* BREVE POEMA DEBAJO DE LAS TRES IMAGENES DE BOOTSTRAP */
  .poema {
    margin-top: 1px;
    color: #f5efc7;
    line-height: 1.8;
    font-size: 15px; }
  .gridContainerV {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    background-color: #91b497;
    color: #4e584c;
    font-weight: lighter; }
  .card-text {
    color: black;
    font-size: 9px;
    padding: 5px; }
  .card-title {
    color: #244b24;
    font-size: 11px; } }

/* Destacados, Generos, Mas recientes (archivos de HTML) TABLAS CREADAS CON GRID*/
@media screen and (max-width: 412px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 100px 100px 100px; }
  .gridItem {
    background-color: #a9daee;
    border: solid 2px black;
    color: black; } }

/* FOOTER*/
@media screen and (max-width: 768px) {
  .footerRow {
    flex-direction: column;
    align-items: center; }
  .footerMenu,
  .footerForm {
    margin-bottom: 50px; }
  .footerForm {
    width: 80%; } }

@media screen and (max-width: 500px) {
  .footerSocial img {
    height: 40px; }
  .footerContacto {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding: 0px; }
  .contactFoot {
    display: flex;
    color: blanchedalmond;
    font-family: cursive;
    font-size: 1rem;
    margin-left: 80px;
    padding: 0px 30px 50px 30px; }
  .underContac {
    display: flex;
    padding: 20px 20px 10px 20px;
    color: #b7e99c;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 50px; }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  .musiLandiaCont {
    position: absolute;
    top: 10px;
    left: 30px;
    right: 3px;
    font-family: cursive;
    font-size: 1rem;
    color: #444343;
    font-weight: lighter; }
  /*.header ul {
        display: flex;
        justify-content: end;
        list-style: none;
        width: 100%;
        font-size: 10px;
        
    }
    
    .header ul li a {
        display: inline-block;
        margin-top: 3px;
        margin-right: 20px;
        color: rgb(52, 58, 58);
        
    
    }
    
    .header li a:hover {
        background: rgb(181, 218, 196);
        color: rgb(20, 29, 20)
    }*/ }
