* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  /* forma de la letra */
  background-color: #7ea174;
  /* color de todo el fondo */
  color: aliceblue;
  /* color de las letras */ }

h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  /*justify-content: center;
    align-items: center;
    margin: 0px;*/
  font-size: 1.5rem;
  color: #352d22;
  margin-left: 90px;
  margin-top: 5px;
  padding: 13px 30px; }

/* a de ANCLA, Las secciones de inicio y otras opciones*/
a {
  color: #166666;
  /* text-decoration: none;*/
  /* SIN PUNTITOS AL LADO*/
  margin-right: 25px; }

.animate {
  padding: 40px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #424642;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem; }

.underTitulo {
  padding: 20px  20px 10px 20px;
  color: #2b3327;
  font-size: 1.5rem;
  font-family: cursive;
  margin-left: 67px; }

p {
  font-size: 15px;
  color: white; }

/* Incluyendo Mixin*/
a {
  text-decoration: none; }

.header {
  position: fixed;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2; }
  .headerMenu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%; }
    .headerMenu ul li a {
      display: inline-block;
      margin-top: 12px; }
  .headerLogo {
    display: flex;
    align-items: center; }
    .headerLogo img {
      width: 25px;
      /* margin-left: 2px; */
      /*filter: invert(100);  CAMBIA MI LOGO A COLOR LILA*/ }

.headerMenu li a:hover {
  background: #b5dac4;
  color: #141d14; }

.secciones {
  display: flex;
  align-items: center;
  padding: 30px 50px;
  margin: 0px; }

/* UTILIZANDO GRID*/
.gridContainer {
  display: grid;
  grid-template-columns: 200px 200px 200px; }

.gridItem {
  background-color: bisque;
  border: solid 2px black;
  color: black; }

.noEsperes {
  padding: 20px 5px 5px;
  font-family: "Roboto Slab, serif";
  /* padding: 70px 30px 30px 50px;
    margin: 0;*/
  font-size: 18px;
  color: #66bcd6; }

/* UTILIZANDO GRID*/
.gridContainer {
  display: grid;
  grid-template-columns: 200px 200px 200px; }

.gridItem {
  background-color: #476774;
  border: solid 2px black;
  color: black; }

/* UTILIZANDO GRID*/
.gridContainer {
  display: grid;
  grid-template-columns: 200px 200px 200px; }

.gridItem {
  background-color: #a9daee;
  border: solid 2px black;
  color: black; }

/* Letra al lado del logo*/
.musiLandia {
  position: absolute;
  top: 7px;
  left: 38px;
  right: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
  color: #c2f3c9; }

/* Letra al lado de mi logo */
/* HERO se le suele llamar a la parte principal de la pagina*/
.carrousel {
  width: 100%;
  /* background-image: url(../imagenes/imgnuevaa.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.biografia {
  justify-content: space-between;
  /* font-size: 1.25rem;*/
  line-height: 1.8;
  display: flex;
  align-items: center;
  color: bisque;
  padding: 0px 50px;
  margin: 0px; }

.biografia p {
  padding: 0px 30px;
  font-size: 1rem;
  color: #16250d; }

.biografiaAside {
  display: flex;
  margin-left: 20px;
  padding-bottom: 35px; }

.biografiaAside p {
  padding: 50px 30px;
  font-size: 1rem;
  color: #16250d;
  text-align: center; }

/* Aplicando EXTEND*/
.biografia {
  font-size: 1.25rem; }

.container, .row {
  padding: 50px 30px 30px; }

/* Aplicando con Bootstrap*/
/* BREVE POEMA DEBAJO DE LAS TRES IMAGENES DE BOOTSTRAP */
.poema {
  margin-top: 1px;
  color: #f5efc7;
  line-height: 1.8;
  font-size: 1rem; }

/* Poema debajos de las tres img de Bootstrap */
.footer {
  background-color: black;
  padding: 100px 0px; }
  .footerRow {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .footerMenu, .footerSocial {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footerMenu ul {
    list-style: none; }
    .footerMenu ul li {
      margin-top: 5px; }
  .footerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; }
    .footerForm input {
      width: 100%;
      height: 30px;
      margin-bottom: 2px;
      border: 0px solid;
      border-radius: 10px;
      padding-left: 10px; }
  .footerForm input[type="submit"] {
    background-color: red;
    color: white;
    width: 30%;
    border: 1px solid #5a2f2f;
    padding: 0; }
  .footerSocial a {
    margin-left: 1px; }
  .footerSocial img {
    height: 50px; }

.footerContacto {
  color: blanchedalmond;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  width: 100%; }

.contactFoot {
  display: flex;
  color: blanchedalmond;
  font-family: cursive;
  font-size: 1.5rem;
  margin-left: 80px;
  padding: 0px 30px 50px 30px; }

.mapSide {
  display: flex;
  margin-bottom: 80px;
  margin-right: 200px;
  font-size: 1rem;
  font-family: monospace;
  color: brown; }

.underContac {
  display: flex;
  padding: 20px 20px 10px 20px;
  color: #b7e99c;
  font-size: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 67px; }

/* HEADER MENU*/
@media screen and (max-width: 640px) {
  .headerMenu ul li {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 40%;
    display: inline-block;
    margin-top: 12px;
    margin-right: 3px;
    font-size: 0.6rem;
    box-sizing: border-box; } }

@media screen and (max-width: 640px) {
  .hero {
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; } }

/* BIOGRAFIA*/
@media screen and (max-width: 640px) {
  .header {
    position: fixed;
    width: 100%;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; }
  .headerLogo img {
    width: 15px; }
  .headerLogo img {
    display: flex;
    align-items: center; }
  .musiLandia {
    position: absolute;
    top: 23px;
    left: 25px;
    right: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 7px;
    color: #c2f3c9; }
  .biografia {
    justify-content: space-between;
    /* font-size: 1.25rem;*/
    line-height: 1.8;
    display: flex;
    align-items: center;
    color: bisque;
    padding: 0px 20px;
    margin: 0px; }
  .biografia p {
    padding: 0px 10px;
    font-size: 12px;
    color: #16250d;
    text-align: start; }
  .animate {
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4d584e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center; }
  .underTitulo {
    padding: 0px 30px 10px 30px;
    color: #2b3327;
    font-size: 1rem;
    font-family: cursive;
    margin-right: 55px; }
  .container, .row {
    padding: 0px 3px; }
  /* BREVE POEMA DEBAJO DE LAS TRES IMAGENES DE BOOTSTRAP */
  .poema {
    margin-top: 1px;
    color: #f5efc7;
    line-height: 1.8;
    font-size: 15px; } }

/* Destacados, Generos, Mas recientes (archivos de HTML) TABLAS CREADAS CON GRID*/
@media screen and (max-width: 640px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 100px 100px 100px; }
  .gridItem {
    background-color: #a9daee;
    border: solid 2px black;
    color: black; } }

/* FOOTER*/
@media screen and (max-width: 768px) {
  .footerRow {
    flex-direction: column;
    align-items: center; }
  .footerMenu,
  .footerForm {
    margin-bottom: 50px; }
  .footerForm {
    width: 80%; } }

@media screen and (max-width: 500px) {
  .footerSocial img {
    height: 40px; } }
