.biografia {
    justify-content: space-between;
   /* font-size: 1.25rem;*/
    line-height: 1.8;
    display: flex;
    align-items: center;
    color: bisque;
    padding: 100px 50px;


}

.biografia p {
    padding: 30px 30px;
}


/* Aplicando EXTEND*/
.biografia {
    @extend .biografia; 
    font-size: 1.25rem;
}


