.footer  {
        background-color: rgb(209, 153, 88);
         padding: 20px 0px;
    
         &Row {
         margin-top: 50px;
         margin-bottom: 5px;
         display: flex;
         justify-content: space-evenly;
         align-items: center;
        }

         &Menu {
            width: 100%;
            display: flex;
            justify-content: center; 
        }
          
        &Menu ul {
                list-style: none;
                
        }

        &Menu ul li {
            margin-top: 5px;
            margin-right: 500px; 
        }


         &Form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60%;
 
        }


    
    &Social {
            width: 100%;
            display: flex;
            justify-content: center;


             &a {
             margin-left: 10px;
             margin-right: 50px;
            }

        &img {
        height: 60px;
       }
    
    }


&Form input[type="submit"] {
  background-color: rgb(241, 23, 59);
 color: white;
  width: 40%;
  padding: 0;


  }


&Form input {
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 10px;
 }

 /* HACE QUE CAMBIE DE COLOR CUANDO LO TOCAS*/
&Form input:focus {
    background-color: bisque;
 }
}
