* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* forma de la letra */

    background-color: rgb(126, 161, 116);
    /* color de todo el fondo */

    color: aliceblue;
    /* color de las letras */
    background-image: url(../imagenes/footer.jpg);
    

}





h2,
h3,
h4
 {
 

    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*justify-content: center;
    align-items: center;
    margin: 0px;*/
    font-size: 1.5rem;
    color: rgb(42, 49, 43);
    margin-left: 150px ;
    margin-top: 5px;
    padding: 45px 30px;
}


h5 {
    color: rgb(15, 14, 14);
    font-family: monospace;
    font-size: 1.6rem;
}




/* a de ANCLA, Las secciones de inicio y otras opciones*/
a {
    color: rgb(74, 82, 74);
   /* text-decoration: none;*/
    /* SIN PUNTITOS AL LADO*/

    margin-right: 25px;
}

.animate {
    padding: 60px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(66, 70, 66);
    font-family: fantasy;
    font-size: 1.5rem;
}

.underTitulo {
    padding: 50px  20px 10px 20px;
    color: rgb(43, 51, 39);
    font-size: 1.5rem;
    font-family: monospace;
    margin-left: 67px;
}

 
p {
    font-size: 15px;
    color: rgb(206, 235, 204);
    
}

/* Incluyendo Mixin*/
@mixin none {
    text-decoration: none;
    
}

a {
  @include none 
}