* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* forma de la letra */

    background-color: rgb(20, 17, 17);
    /* color de todo el fondo */

    color: aliceblue;
    /* color de las letras */


}


h2,
h3,
h4,
h5,
h6 {
    padding: 20px 5px 5px;
    font-family: "Roboto Slab, serif";
   /* padding: 70px 30px 30px 50px;
    margin: 0;*/
    font-size: 1rem;
    color: rgb(85, 136, 165);
}


/* a de ANCLA, Las secciones de inicio y otras opciones*/
a {
    color: rgb(109, 147, 182);
   /* text-decoration: none;*/
    /* SIN PUNTITOS AL LADO*/

    margin-right: 25px;
}
 
p {
    font-size: 15px;
    color: white;
}

/* Incluyendo Mixin*/
@mixin none {
    text-decoration: none;
    
}

a {
  @include none 
}