 /*.header {
  position: fixed;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  &Menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;

    li a {
      display: inline-block;
      margin-top: 12px;
      color: white;

    }
  }



  &Logo {
    display: flex;
    align-items: center;

    img {
      width: 30px;
      margin-top: 25px;
      /* margin-left: 2px; 

      /*filter: invert(100);  CAMBIA MI LOGO A COLOR LILA

    }


  }



}

.headerMenu li a:hover {
  background: rgb(181, 218, 196);
  color: rgb(20, 29, 20)
}*/


/* header {
   width: 100%;
   padding: 0 40px 20px 40px;
   color: white;
   text-align: center;
   background: rgb(73, 76, 74);

 }

 .headerLogo {

   display: flex;
   align-items: center;
   margin-top: 10px;

   img {

     width: 65px;
     margin-top: 30px;
     margin-left: 10px;
   }
 }



 nav ul {
   list-style: none;
   background: rgb(140, 142, 140);
   text-align: center;
 }

 nav ul li {
   display: inline-block;
   padding: 20px;
   transition: all ease-in-out 250ms;
 }

 ul li a {
   color: white;
   text-decoration: none;
 }

 nav ul li:hover {
   background: grey;
 }

 .hide {
   font-size: 22px;
   padding: 16px;
   background-color: grey;
   color: white;
   cursor: pointer;
   display: none;

 }

 @media (max-width: 768px) {
   ul li {
     width: 100%;
     padding: 16px;
     text-align: left;
   }

   nav ul {
     display: none;
   }

   .hide {
     display: block;
   }
 }*/


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body  {
   font-family: cursive;

 }

 header {
   width: 100%;
   padding: 40px;
   color: white;
   text-align: center;
   background: grey;

 
  }


  nav ul {
    list-style: none;
    background: rgb(172, 167, 167);
  }


  nav  ul li {
    display: inline-block;
    padding: 20px;
  transition: all ease-in-out 250ms;
  text-align: center;
  }

ul li a {
  color: white;
text-decoration: none;
}

nav ul li:hover {
  background: rgb(165, 162, 162);
}

.headerLogo {

  display: flex;
  align-items: center;
  margin-top: 10px;

  img {

    width: 65px;
    margin-top: 30px;
    margin-left: 10px;
  }
}



@media (max-width: 768px) {
  header {
   width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    background: grey;
    box-sizing: border-box;
    font-size: 2px;
 
  
   }
 
 
   nav ul {
     list-style: none;
     background: rgb(172, 167, 167);
   }
 
 
   nav  ul li {
   display: inline-block;
   padding: 2px;
   transition: all ease-in-out 250ms;
   text-align: center;
   font-size: 7px;
   }
 
 ul li a {
   color: white;
 text-decoration: none;
 }
 
 nav ul li:hover {
   background: rgb(165, 162, 162);
 }
 

 .headerLogo {

  display: flex;
  align-items: center;
  margin-top: 10px;

  img {

    width: 30px;
    margin-top: 30px;
    margin-left: 10px;
  }
}


}