/* HERO se le suele llamar a la parte principal de la pagina*/
.carrousel {
    width: 100%;
   /* background-image: url(../imagenes/imgnuevaa.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}