/* HERO se le suele llamar a la parte principal de la pagina*/
.hero {
    width: 100%;
    height: 100vh;
   /* background-image: url(../imagenes/imgnuevaa.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}