/* UTILIZANDO GRID*/

.gridContainer {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.gridItem {
    background-color: rgb(169, 218, 238);
    border: solid 2px black;
    color: black;

}