/* HEADER MENU*/
@media screen and (max-width: 640px) {
    h2,
    h3,
    h4,
    h6 {
     
    
        display: flex;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        /*justify-content: center;
        align-items: center;
        margin: 0px;*/
        font-size: 1rem;
        color: rgb(42, 49, 43);
        margin-left: 100px ;
        margin-top: 5px;
        padding: 45px 30px;
    }



    .headerMenu ul li {
        display: flex;
        justify-content: center;
        list-style: none;
        width: 30%;
        display: inline-block;
        margin-top: 0px;
        margin-right: 3px;
        font-size: 0.6rem;
        box-sizing: border-box;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 640px) {
    .carrousel {
        width: 100%;
       /* background-image: url(../imagenes/imgnuevaa.jpg);*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}


/* BIOGRAFIA*/
@media screen and (max-width: 640px) {


    .header {
        position: fixed;
        width: 100%;
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }



    .headerLogo img {
        width: 10px;

    }


    .headerLogo {
        display: flex;
        margin-bottom: 70px;
       


        img {
            width: 10px;
    
        }
    }


    .musiLandia {
        position: absolute;
        top: 23px;
        left: 25px;
        right: 3px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 7px;
        color: rgb(194, 243, 201);
    }



    .biografia {
        justify-content: space-between;
       /* font-size: 1.25rem;*/
        line-height: 1.8;
        display: flex;
        align-items: center;
        color: bisque;
        padding: 0px 20px;
        margin: 0px;
    
    
    }
    
    .biografia p {
        padding: 0px 10px;
        font-size: 20px;
        color: rgb(22, 37, 13);
        text-align: start;
    }

    .biografiaAside {
        display: flex;
        margin-left: 20px;
       padding-bottom: 35px;
    }

    .biografiaAside img {
   width: 40%;
   height: 30%;
    }
    
    .biografiaAside p {
        padding: 0px 20px;
        font-size: 9px;
        color: rgb(22, 37, 13);
        text-align: center;
    }
   

    .animate {
        padding: 30px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(77, 88, 78);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        text-align: center;
    }
    
    .underTitulo {
        padding: 0px 30px 10px 30px;
        color: rgb(43, 51, 39);
        font-size: 1.2rem;
        font-family: cursive;
        margin-right: 55px;
    }
    
    .container, .row {
        padding: 0px 3px;
       
       
    }

    /* BREVE POEMA DEBAJO DE LAS TRES IMAGENES DE BOOTSTRAP */
.poema {
    margin-top: 1px;
    color: rgb(245, 239, 199);
    line-height: 1.8;
    font-size: 15px;
    
}

.gridContainerV {
    display: grid;
    grid-template-columns: repeat(4 , 4fr);
    background-color: rgb(145, 180, 151);
    color: rgb(78, 88, 76);
    font-weight: lighter;
}

.card-text {
    color: black;
    font-size: 9px;
    padding: 5px;
}

.card-title {
    color: rgb(36, 75, 36);
    font-size: 11px;
}
}

/* Destacados, Generos, Mas recientes (archivos de HTML) TABLAS CREADAS CON GRID*/
@media screen and (max-width: 412px) {
    .gridContainer {
        display: grid;
        grid-template-columns: 100px 100px 100px;
    }

    .gridItem {
        background-color: rgb(169, 218, 238);
        border: solid 2px black;
        color: black;

    }

    
    
    
    
   
}


/* FOOTER*/

@media screen and (max-width: 768px) {
    .footerRow {
        flex-direction: column;
        align-items: center;
    }

    .footerMenu,
    .footerForm {
        margin-bottom: 50px;
    }

    .footerForm {
        width: 80%;
    }


}

@media screen and (max-width: 500px) {
    .footerSocial img {
        height: 40px;
    }

    .footerContacto {
        display: flex;
        align-items: center;
        justify-content: center;
        color: blanchedalmond;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 15px;
        padding: 0px;
    
    
    }
    
    .contactFoot {
        display: flex;
        color: blanchedalmond;
        font-family: cursive;
        font-size: 1rem;
        margin-left: 80px;
        padding: 0px 30px 50px 30px;
        
       
    }
    
    
    .underContac {
         display: flex;
        padding: 20px 20px 10px 20px;
        color: rgb(183, 233, 156);
        font-size: 1rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 50px;
    
    
    }


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .headercont {
        position: fixed;
        width: 100%;
        padding: 0px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        box-sizing: border-box;
    }
    
    .headerLogoCont {
        display: flex;
        align-items: center;
    
        img {
            width: 20px;
            margin-top: 12px;
            margin-left: 10px;
        }
    }
    
    .musiLandiaCont {
        position: absolute;
        top: 10px;
        left: 30px;
        right: 3px;
        font-family: cursive;
        font-size: 1rem;
        color: rgb(68, 67, 67);
        font-weight: lighter;
    }
    
    .headerMenucont ul {
        display: flex;
        justify-content: end;
        list-style: none;
        width: 100%;
        font-size: 10px;
        
    }
    
    .headerMenucont ul li a {
        display: inline-block;
        margin-top: 3px;
        margin-right: 20px;
        color: rgb(52, 58, 58);
        
    
    }
    
    .headerMenucont li a:hover {
        background: rgb(181, 218, 196);
        color: rgb(20, 29, 20)
    }
    
    

}