/* HEADER MENU*/
@media screen and (max-width: 640px) {
    .headerMenu ul li {
        display: flex;
        justify-content: center;
        list-style: none;
        width: 40%;
        display: inline-block;
        margin-top: 12px;
        margin-right: 3px;
        font-size: 0.6rem;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 640px) {
    .hero {
        width: 100%;
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}


/* BIOGRAFIA*/
@media screen and (max-width: 640px) {


    .header {
        position: fixed;
        width: 100%;
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }



    .headerLogo img {
        width: 15px;


    }


    .headerLogo img {
        display: flex;
        align-items: center;

    }


    .musiLandia {
        position: absolute;
        top: 23px;
        left: 25px;
        right: 3px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 7px;
        color: rgb(194, 243, 201);
    }



    .biografia p {
        justify-content: space-between;
        font-size: 15px;
        line-height: 1.8;
        display: flex;
        align-items: center;
        color: rgb(245, 243, 241);
        width: 100%;
     
    }



    /* BREVE POEMA DEBAJO DE LAS TRES IMAGENES DE BOOTSTRAP */
.poema {
    margin-top: 1px;
    color: rgb(245, 239, 199);
    line-height: 1.8;
    font-size: 15px;
    
}
}

/* Destacados, Generos, Mas recientes (archivos de HTML) TABLAS CREADAS CON GRID*/
@media screen and (max-width: 640px) {
    .gridContainer {
        display: grid;
        grid-template-columns: 100px 100px 100px;
    }

    .gridItem {
        background-color: rgb(169, 218, 238);
        border: solid 2px black;
        color: black;

    }
}


/* FOOTER*/

@media screen and (max-width: 768px) {
    .footerRow {
        flex-direction: column;
        align-items: center;
    }

    .footerMenu,
    .footerForm {
        margin-bottom: 50px;
    }

    .footerForm {
        width: 80%;
    }


}

@media screen and (max-width: 500px) {
    .footerSocial img {
        height: 40px;
    }

}