/* Letra al lado del logo*/
.musiLandia {
    position: absolute;
    top: 7px;
    left: 38px;
    right: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    color: rgb(194, 243, 201);
}