/* Letra al lado del logo*/
.musiLandia {
    position: absolute;
    top: 15px;
    left: 48px;
    right: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    color: rgb(21, 105, 25);
}