/* Letra al lado del logo*/
.musiLandia {
    position: absolute;
    top: 25px;
    left: 36px;
    right: 3px;
    font-family:'Dancing Script', cursive;
    font-size: 1.5rem;
    color: rgb(134, 129, 129);
    font-weight: normal;
    
    
}